.flex-for {
    display: flex;
}
/* header styles */
.header {
    width: 100%;
}
.header-first-div {
    position: absolute;
    width: 100%;
}
.header-left-box {
    max-width: 45rem;
    height: 800px;
    background-color: #141414;
    position: relative;
    top: 0;
    left: 0;
}
.second-child {
    max-width: 52rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
} 
.header-nav-box {
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 1rem;
    align-items: center;
}
.small-box-header-div {
    max-width: 39rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.nav-box {
    max-width: 25rem;
    width: 100%;
    justify-content: space-between;
}
.button {
    max-width: 9.3rem;
    height: 40px;
    background-color: #FE8400;
    font-size: 1rem;
    text-align: center;
    margin-top: 18px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    color: #141414;
    font-weight: 400;
    line-height: 2.5rem;
    transition: 1s;
}
.button-line {
    width: 20px;
    height: 1.7px;
    background-color: #141414;
    border: none;
    transform: rotate(90deg);
    position: relative;
    top: -28px;
    left: -6.5px;
}
.ul-item {
    justify-content: space-between;
}
.a-item {
    color: #FE8400;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 50px;
    transition: 0.7s;
}
.image {
    width: 100%;
    min-height: 450px;
    object-fit: fill;
    left: 37rem;
}
.first-image-div {
    position: absolute;
    top: 104px;
    left: 40%;
}
.header-text-div {
    width: 35%;
    background-color: #00000033;
    position: absolute;
    top: 160px;
    left: 10rem;
    z-index: 4;
}
.header-title {
    color: #ffffff;
    font-size: 3rem;
    margin-top: 32px;
    font-family: 'Montserrat', sans-serif;
    max-width: 31rem;
    line-height: 60px;
}
.header-info-text {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 16px;
    font-family: 'Poppins', sans-serif;
   max-width: 28.31rem;
    line-height: 40px;
}
.header-second-button {
    width: 16rem;
    height: 3.75rem;
    background-color: #FE8400;
    border-radius: 4px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 48px;
    margin-bottom: 32px;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
}
.header-icons-div {
    width: 16px;
    height: 236px;
    position: absolute;
    top: 330px;
    left: 4.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
 .icon-line-div {
    top: 270px;
    left: 3.8rem;
    position: absolute;
    background-color: #FE8400;
    width: 38px;
    height: 2px;
    rotate: 90deg;

} 
.icon-line-div1{
    content: '';
    top: 520px;
    left: 4rem;
    position: absolute;
    justify-content: center;  
    background-color: #FE8400;
    width: 38px;
    height: 2px;
    rotate: 90deg;

}

/* first section styles */
.first-section {
    padding-top: 900px;
    width: 100%;
}
.section-small-div {
    justify-content: space-between;
    width: 100%;
}
.first-section-image {
    width: 100%;
    max-width: 35rem;
    padding-right: 10px;
    transition: 1s;
}
.up-text {
    width: 43%;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    min-height: 330px;
    margin-top: 27px;
}

.first-section-main-div {
    max-width: 70rem;
    height: 27.56rem;
    margin: 0 auto;
    justify-content: space-between;
}
.first-section-title {
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.hr-size {
    height: 5px;
    width: 171px;
    background-color: #FE8400;
    border-radius: 6px;
    border: none;
    margin-bottom: 60px;
}
#ch {
    display: none;
}
label {
    display: inline-block;
    color: #FE8400;
    cursor: pointer;
    margin-top: 24px;
    transition: 0.5s;
}
.down-text {
    font-size: 1.5rem;
    display: none;
}
#ch:checked ~ .down-text {
    display: block;
}
#ch:checked ~ label {
    display: none;
}
/* second section style  */
.second-section {
    width: 100%;
    margin-top: 80px;
}
.second-section-title {
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.second-section-main-div {
    width: 100%;
    height: 300px;
    background-color: #FFE4C6;
    padding-top: 73px;
}
.select-boxes {
    max-width: 20rem;
    width: 100%;
    height: 60px;
    border: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding-left: 2.75rem;
    cursor: pointer;
    border-radius: 6px;
    transition: 1s;
    position: relative;
}
.first-child {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;margin-bottom: 32px;
}
.second-child {
    max-width: 67rem;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.second-line-select-boxes {
    max-width: 13.75rem;
    width: 100%;
    height: 60px;
    border: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding-left: 2.75rem;
    cursor: pointer;
    border-radius: 6px;
    transition: 1s;
}
.button-second-section {
    background-color: #FE8400;
    max-width: 16rem;
    width: 100%;
    font-size: 1.5rem;
    border: none;
    height: 60px;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 1s;
}
.icon-div-in-select {
    position: absolute;
    top: 23px;
    left: 16px;
}
.select-div {
    position: relative;
    max-width: 20rem;
    width: 100%;
    height: 60px;
}
/* third section style  */
.third-section {
    width: 100%;
    padding-top: 80px;
    flex-wrap: wrap;
}
.third-section-title {
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.third-section-line {
    height: 5px;
    width: 300px;
    background-color: #FE8400;
    border-radius: 6px;
    border: none;
    margin-bottom: 40px;
}
 .third-section-main-div {
    max-width: 70rem;
    width: 95%;
    height: 480px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.third-child-div {
    max-width: 22.5rem;
    height: 430px;
    border-style: solid;
    border-color: #575757;
    border-width: 1px;
    border-radius: 8px;
    padding: 2.5rem 1.17rem 0 1.17rem;
    margin-left: 1rem;
} 
.car-image {
    max-width: 19rem;
    width: 100%;
    height: 183px;
    transition: 1s;
    cursor: pointer;
    object-fit: cover;
}
.image-zoom-wraper {
    overflow: hidden;
}
.car-name {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    height: 27px;
}
.car-info-small-box {
    max-width: 19.68rem;
    height: 155px;
}
.car-info {
    margin-top: 40px;
}
.car-exponents {
    gap: 1rem;
    margin-top: 16px;
    height: 23px;
}
.car-exponents-small-box {
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}
.car-rent {
    max-width: 19.98rem;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}
.book-button {
    max-width: 7rem;
    width: 100%;
    height: 36px;
    border: none;
    background-color: #FE8400;
    font-size: 0.87rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}
.car-rent-info {
    max-width: 7.5rem;
    font-size: 1rem;
    color: #575757;
    font-family: 'Poppins', sans-serif;
    line-break: auto;
}
.price {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #141414;
    margin-top: 0.5rem;
}
/* silk slider test version */
/* საბოლოოდ გამოვიდა */
.slider {
    width: 80%; /* Adjust the width as per your design */
    margin: 0 auto; /* Center the slider */
}

.slider img {
    max-width: 100%;
    height: auto;
}
/* Change the color of the active dot (border color) to orange */
.slick-dots li.slick-active button {
    border: 5px solid orange; /* Set the desired color for the active dot's border */
    border-radius: 100px;
}

/* Change the color of the inactive dots (border color) to a different color (e.g., gray) */
.slick-dots li button {
    border: 2px solid gray; /* Set the desired color for the inactive dots' border */
}

/* fourth section styles  */
.fourth-section {
    margin-top: 80px;
}
.fourth-section-main-div {
    width: 100%;
    background-color: #141414;
    height: 395px;
    padding-top: 46px;
    position: relative;
}
.section-title {
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
.fourth-line {
    height: 5px;
    width: 300px;
    background-color: #FE8400;
    border-radius: 6px;
    border: none;
    margin-bottom: 40px;
}
.info-div {
    max-width: 30.18rem;
    font-size: 1.12rem;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    line-height: 32px;
}
.fourth-child-div {
    max-width: 60rem;
    height: 497px;
    margin: 0 auto;
}
.premium-services {
    width: 277px;
    background-color:  #FFFFFF;
    height: 322px;
    text-align: center;
    padding-top: 78.5px;border-radius: 4px;
    box-shadow: 5px 5px 10px #888888;
    transition: 0.4s;
}
.premium-middle-box {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}
.premium-services-main-div {
    width: 100%;
    position: absolute;
    top: 2880px;
}
.fit-box {
    max-width: 60rem;
    width: 95%;
    justify-content: space-between;
    margin: 0 auto;
}
.services-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.37rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
.services-info {
    font-size: 0.98rem;
    font-family: 'Poppins', sans-serif;
    color: #575757;
    line-height: 23px;

}
/* fifth section style  */
.fifth-section {
    width: 100%;
    margin-top: 260px;
}
.fifth-section-title {
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #141414;    
}
.fifth-title-line {
    height: 5px;
    width: 366px;
    background-color: #FE8400;
    border-radius: 6px;
    border: none;
    margin-bottom: 40px;
}
.fifth-section-main-div {
    max-width: 65rem;
    height: 417px;
    margin: 0 auto;
    justify-content: space-between;
}
.costomer-div {
    width: 453px;
    height: 417px;
    border: 1px solid #141414;
    text-align: center;
}
.costomer-name {
    
} 
/* welcome animation  */
/* styles.css */
.welcome-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4d8cd;
    animation: changeColors 5s, bounce 2s;
  }
  
  @keyframes changeColors {
    0% {
      background-color: aqua;
      color: #316514;
    }
    25% {
      background-color: lightskyblue;
      color: #8b9f30;
    }
    50% {
      background-color: lightblue;
      color: #ffb820;
    }
    75% {
      background-color: lightsteelblue;
      color: #a96813;
    }
    100% {
      background-color: antiquewhite;
      color: #f86d65;
      opacity: 0; /* Add opacity to fade out */
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .welcome-h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
    padding: 20px;
    animation: textColors 5s;
  }
  
  @keyframes textColors {
    0% {
      color: #bca62a;
    }
    25% {
      color: #6f5513;
    }
    50% {
      color: #ffcf67;
    }
    75% {
      color: #9a5d02;
    }
    100% {
      color: brown;
    }
  }
canvas {
    display: block;
  }
  