/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.flex-for {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/* header styles */
.header {
    width: 100%;
}
.header-first-div {
    position: absolute;
    width: 100%;
}
.header-left-box {
    max-width: 45rem;
    height: 800px;
    background-color: #141414;
    position: relative;
    top: 0;
    left: 0;
}
.second-child {
    max-width: 52rem;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
} 
.header-nav-box {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.small-box-header-div {
    max-width: 39rem;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.nav-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.burger {
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
}
.header {
    position: relative;
}
.button {
    max-width: 9.3rem;
    height: 40px;
    background-color: #FE8400;
    font-size: 1rem;
    text-align: center;
    margin-top: 18px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins';
    color: #141414;
    font-weight: 400;
    line-height: 2.5rem;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.ul-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 3rem;
}
.a-item {
    color: #FE8400;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    line-height: 50px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
.image {
    width: 100%;
    min-height: 480px;
    -o-object-fit: fill;
       object-fit: fill;
    left: 37rem;
}
.first-image-div {
    position: absolute;
    top: 104px;
    left: 40%;
}
.header-text-div {
    width: 35%;
    background-color: #00000033;
    position: absolute;
    top: 160px;
    left: 10rem;
    z-index: 4;
}
.header-title {
    color: #ffffff;
    font-size: 3rem;
    margin-top: 32px;
    font-family: 'Rubik';
    font-weight: 500;
    max-width: 31rem;
    line-height: 60px;
}
.header-info-text {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 16px;
    font-family: 'Poppins';
    font-weight: 500;
   max-width: 28.31rem;
    line-height: 40px;
}
.header-second-button {
    width: 16rem;
    height: 3.75rem;
    background-color: #FE8400;
    border-radius: 4px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 48px;
    margin-bottom: 32px;
    font-family: 'Poppins';
    font-weight: 400;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.header-icons-div {
    width: 16px;
    height: 236px;
    position: absolute;
    top: 200px;
    left: 4.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 16px;
}
.icon {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
/* first section styles */
.first-section {
    padding-top: 900px;
    width: 100%;
}
.section-small-div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}
.first-section-image {
    width: 100%;
    max-width: 35rem;
    padding-right: 10px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.up-text {
    width: 43%;
    font-size: 1.5rem;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 30px;
    min-height: 330px;
    margin-top: 27px;
}

.first-section-main-div {
    max-width: 70rem;
    height: 27.56rem;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.first-section-title {
    font-size: 2rem;
    text-align: center;
    font-family: 'Rubik';
    font-weight: 500;
}
.hr-size {
    height: 5px;
    width: 171px;
    background-color: #FE8400;
    border-radius: 6px;
    border: none;
    margin-bottom: 60px;
}
#ch {
    display: none;
}
label {
    display: inline-block;
    color: #FE8400;
    cursor: pointer;
    margin-top: 24px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.down-text {
    font-size: 1.5rem;
    display: none;
}
#ch:checked ~ .down-text {
    display: block;
}
#ch:checked ~ label {
    display: none;
}
/* second section style  */
.second-section {
    width: 100%;
    margin-top: 80px;
}
.second-section-title {
    font-size: 2rem;
    text-align: center;
    font-family: 'Rubik';
    font-weight: 500;
}
.second-section-main-div {
    width: 100%;
    height: 300px;
    background-color: #FFE4C6;
    padding-top: 73px;
}
.select-boxes {
    max-width: 20rem;
    width: 100%;
    height: 60px;
    border: none;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 400;
    padding-left: 2.75rem;
    cursor: pointer;
    border-radius: 6px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    position: relative;
}
.first-child {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 32px;
}
.second-child {
    max-width: 67rem;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.second-line-select-boxes {
    max-width: 13.75rem;
    width: 100%;
    height: 60px;
    border: none;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 400;
    padding-left: 2.75rem;
    cursor: pointer;
    border-radius: 6px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.button-second-section {
    background-color: #FE8400;
    max-width: 16rem;
    width: 100%;
    font-size: 1.5rem;
    border: none;
    height: 60px;
    border-radius: 6px;
    font-family: 'Poppins';
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.icon-div-in-select {
    position: absolute;
    top: 23px;
    left: 16px;
}
.select-div {
    position: relative;
    max-width: 20rem;
    width: 100%;
    height: 60px;
}
/* third section style  */
.third-section {
    width: 100%;
    padding-top: 80px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.third-section-title {
    font-size: 2rem;
    text-align: center;
    font-family: 'Rubik';
    font-weight: 500;
}
.third-section-line {
    height: 5px;
    width: 300px;
    background-color: #FE8400;
    border-radius: 6px;
    border: none;
    margin-bottom: 40px;
}
 .third-section-main-div {
    max-width: 70rem;
    width: 95%;
    height: 480px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.third-child-div {
    max-width: 22.5rem;
    height: 430px;
    border-style: solid;
    border-color: #575757;
    border-width: 1px;
    border-radius: 8px;
    padding: 2.5rem 1.17rem 0 1.17rem;
    margin-left: 1rem;
} 
.car-image {
    max-width: 19rem;
    width: 100%;
    height: 183px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    cursor: pointer;
    -o-object-fit: cover;
       object-fit: cover;
}
.image-zoom-wraper {
    overflow: hidden;
}
.car-name {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    height: 27px;
}
.car-info-small-box {
    max-width: 19.68rem;
    height: 155px;
}
.car-info {
    margin-top: 40px;
}
.car-exponents {
    gap: 1rem;
    margin-top: 16px;
    height: 23px;
}
.car-exponents-small-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 500;
}
.car-rent {
    max-width: 19.98rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.book-button {
    max-width: 7rem;
    width: 100%;
    height: 36px;
    border: none;
    background-color: #FE8400;
    font-size: 0.87rem;
    font-family: 'Poppins';
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.car-rent-info {
    max-width: 7.5rem;
    font-size: 1rem;
    color: #575757;
    font-family: 'Poppins';
    font-weight: 400;
    line-break: auto;
}
.price {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: #141414;
    margin-top: 0.5rem;
}
/* silk slider test version */
/* საბოლოოდ გამოვიდა */
.slider {
    width: 80%; /* Adjust the width as per your design */
    margin: 0 auto; /* Center the slider */
}

.car-img {
    max-width: 100%;
    height: auto;
}
/* Change the color of the active dot (border color) to orange */
.slick-dots li.slick-active button {
    border: 5px solid orange; /* Set the desired color for the active dot's border */
    border-radius: 100px;
}

/* Change the color of the inactive dots (border color) to a different color (e.g., gray) */
.slick-dots li button {
    border: 2px solid gray; /* Set the desired color for the inactive dots' border */
}

/* fourth section styles  */
.fourth-section {
    margin-top: 80px;
}
.fourth-section-main-div {
    width: 100%;
    background-color: #141414;
    height: 395px;
    padding-top: 46px;
    position: relative;
}
.section-title {
    font-size: 2rem;
    text-align: center;
    font-family: 'Rubik';
    font-weight: 500;
    color: #ffffff;
}
.fourth-line {
    height: 5px;
    width: 300px;
    background-color: #FE8400;
    border-radius: 6px;
    border: none;
    margin-bottom: 40px;
}
.info-div {
    max-width: 30.18rem;
    font-size: 1.12rem;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 32px;
}
.fourth-child-div {
    max-width: 60rem;
    height: 497px;
    margin: 0 auto;
}
.premium-services {
    width: 277px;
    background-color:  #FFFFFF;
    height: 322px;
    text-align: center;
    padding-top: 78.5px;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 10px #888888;
            box-shadow: 5px 5px 10px #888888;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.premium-middle-box {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}
.premium-services-main-div {
    width: 100%;
    position: absolute;
    top: 2880px;
}
.fit-box {
    max-width: 60rem;
    width: 95%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
}
.services-title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 1.37rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
.services-info {
    font-size: 0.98rem;
    font-family: 'Poppins';
    font-weight: 400;
    color: #575757;
    line-height: 23px;

}
/* fifth section style  */
.fifth-section {
    width: 100%;
    margin-top: 260px;
}
.big-mom-div {
    max-width: 60rem;
    width: 95%;
    margin: 0 auto;
}
.fifth-section-title {
    font-size: 2rem;
    text-align: center;
    font-family: 'Rubik';
    font-weight: 500;
    color: #141414;    
}
.fifth-title-line {
    height: 5px;
    width: 366px;
    background-color: #FE8400;
    border-radius: 6px;
    border: none;
    margin-bottom: 40px;
}
.fifth-section-main-div {
    max-width: 65rem;
    height: 450px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.costomer-div {
    max-width: 27.5rem;
    min-height: 480px;
    border-style: solid;
    border-color: #575757;
    border-width: 1px;
    border-radius: 8px;
    padding: 2.5rem 1.17rem 0 1.17rem;
    margin-left: 1rem;
}
.costomer-name {
    font-size: 1.7rem;
    text-align: center;
    font-family: 'Rubik';
    font-weight: 500;
    color: #141414; 
    margin-top: 24px;
    margin-bottom: 22px;
} 
.coments {
    height: 200px;
    font-size: 1.25rem;
    font-family: 'Poppins';
    font-weight: 400;
    color: #575757;
    line-height: 23px;
    max-width: 25rem;
    text-align: center;
}
.image-costomer {
    margin: 0 auto;
    max-width: 8rem;
    width: 100%;
}
/* sixth section style  */
.sixth-section {
    width: 100%;
    height: 221px;
    background-color: #FFE4C6;
    margin-top: 80px;
    padding-top: 64px;
    margin-bottom: 7rem;
}
.sixth-section-box {
    max-width: 52.81rem;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.section-box-wraper h3 {
    font-family: 'Rubik';
    font-weight: 500;
    color: #141414;
    font-size: 2.5rem;
    line-height: 49px;
    text-align: center;
}
.section-box-wraper p {
    font-size: 1.5rem;
    font-family: 'Poppins';
    font-weight: 400;
    color: #575757;
    line-height: 36px;
    text-align: center;
}
/* footer styles  */
.footer {
    width: 100%;
}
.footer-title {
    font-size: 2rem;
    text-align: center;
    font-family: 'Rubik';
    font-weight: 500;
    color: #141414;    
}
.footer-title-underline {
    height: 5px;
    width: 179px;
    background-color: #FE8400;
    border-radius: 6px;
    border: none;
    margin-bottom: 50px;
}
.footer-first-div {
    max-width: 65.93rem;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #FFFFFF;
    -webkit-box-shadow: 5px 5px 10px #141414;
            box-shadow: 5px 5px 10px #141414;
}
.footer-image {
    max-width: 28.18rem;
    min-height: 310px;
    width: 100%;
    
}
.message-box-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.costom-input {
    width: 25.31rem;
    height: 60px;
    border-radius: 4px;
    border-style: 1px solod #C4C4C4;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 400;

}
.footer-button {
    max-width: 16rem;
    height: 60px;
    border: none;
    border-radius: 4px;
    background-color: #FE8400;
    font-size: 1.5rem;
    font-family: 'Poppins';
    font-weight: 400;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-top: 40px;
    cursor: pointer;
}
.message-box {
    max-width: 25.31rem;
    height: 122px;
    border-radius: 4px;
    border-color: #C4C4C4;
    border-style: solid 1.5px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
}
.footer-under-div {
    width: 100%;
    margin-top: 250px;
    height: 524px;
    background-color: #141414;
    position: relative;
    padding-top: 340px;
}
.footer-main-div {
    margin-top: 300px;
    position: absolute;
    width: 100%;
    top: 4100px;
    z-index: 13342;
}
.small-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.number {
    font-family: 'Poppins';
    font-weight: 800;
    color: #FE8400;
    font-size: 1.12rem;text-align: center;
}
.number-info {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    color: #FFFFFF;
    font-size: 1.12rem;
}
.footer-line {
    border: none;
    background-color: #C4C4C4;
    height: 2px;
    margin-top: 0.5rem;
}
.last-div {
    max-width: 70rem;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-icon-div {
    max-width: 18rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
}
.copyright {
    color: white;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    margin-top: 60px;
}
.footer-span {
    color: #FE8400;
}


/* hover efects  */
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.a-item:hover {
    color: darkred;
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    font-size: 2rem;
  }
  .header-second-button:hover {
    background-color: red;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
  .button:hover {
    background-color: gray;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  label:hover {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .first-section-image:hover {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
  .button-second-section:hover {
    background-color: brown;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
  .select-boxes:hover {
    border-style: outset;
    border-color: black;
  }
  .second-line-select-boxes:hover {
    border-style: outset;
    border-color: black;
  }
  .image-zoom-wraper:hover img {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  .book-button:hover {
    background-color: brown;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .premium-services:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .costomer-div:hover {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .footer-button:hover {
  background-color: brown;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  }
  .icon:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  }
  /* welcome animation  */
  /* styles.css */
  .welcome-animation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    background-color: #f4d8cd;
    -webkit-animation: changeColors 5s, bounce 2s;
            animation: changeColors 5s, bounce 2s;
  }
  @-webkit-keyframes changeColors {
    0% {
      background-color: aqua;
      color: #316514;
    }
    25% {
      background-color: lightskyblue;
      color: #8b9f30;
    }
    50% {
      background-color: lightblue;
      color: #ffb820;
    }
    75% {
      background-color: lightsteelblue;
      color: #a96813;
    }
    100% {
      background-color: antiquewhite;
      color: #f86d65;
      opacity: 0; /* Add opacity to fade out */
    }
  }
  
  @keyframes changeColors {
    0% {
      background-color: aqua;
      color: #316514;
    }
    25% {
      background-color: lightskyblue;
      color: #8b9f30;
    }
    50% {
      background-color: lightblue;
      color: #ffb820;
    }
    75% {
      background-color: lightsteelblue;
      color: #a96813;
    }
    100% {
      background-color: antiquewhite;
      color: #f86d65;
      opacity: 0; /* Add opacity to fade out */
    }
  }
  
  @-webkit-keyframes bounce {
    0%, 100% {
      -webkit-transform: translateY(5);
              transform: translateY(5);
    }
    50% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      -webkit-transform: translateY(5);
              transform: translateY(5);
    }
    50% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
  }
  
  .welcome-h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
    padding: 20px;
    -webkit-animation: textColors 7s;
            animation: textColors 7s;
  }
  
  @-webkit-keyframes textColors {
    0% {
      color: #bca62a;
    }
    25% {
      color: #6f5513;
    }
    50% {
      color: #ffcf67;
    }
    75% {
      color: #9a5d02;
    }
    100% {
      color: brown;
    }
  }
  
  @keyframes textColors {
    0% {
      color: #bca62a;
    }
    25% {
      color: #6f5513;
    }
    50% {
      color: #ffcf67;
    }
    75% {
      color: #9a5d02;
    }
    100% {
      color: brown;
    }
  }
  canvas {
    display: block;
  }
  